In [288]:
#Finds most visited locations
g = emergency[emergency['LowIncome']==1]
g.sort_values(by=['Zipcode'])
h = g.groupby('Zipcode').count()
h.sort_values(by=['ID']).tail(20)

,ID,DATE,PATIENT,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION,DeathDate,Death,DeathDifference,Race,HouseholdIncome,HouseholdMOE,Age,YearDeath,Black,Hispanic,Asian,White,LowIncome
Zipcode,,,,,,,,,,,,,,,,,,,,
01002,52,52,52,52,52,35,35,52,52,52,52,52,52,52,52,52,52,52,52,52
01843,64,64,64,64,64,17,17,64,64,64,64,64,64,64,64,64,64,64,64,64
01852,65,65,65,65,65,16,16,65,65,65,65,65,65,65,65,65,65,65,65,65
01020,65,65,65,65,65,28,28,65,65,65,65,65,65,65,65,65,65,65,65,65
02302,70,70,70,70,70,23,23,70,70,70,70,70,70,70,70,70,70,70,70,70
01082,70,70,70,70,70,19,19,70,70,70,70,70,70,70,70,70,70,70,70,70
01420,74,74,74,74,74,32,32,74,74,74,74,74,74,74,74,74,74,74,74,74
02169,75,75,75,75,75,29,29,75,75,75,75,75,75,75,75,75,75,75,75,75
02723,77,77,77,77,77,36,36,77,77,77,77,77,77,77,77,77,77,77,77,77
01104,91,91,91,91,91,10,10,91,91,91,91,91,91,91,91,91,91,91,91,91
02301,92,92,92,92,92,20,20,92,92,92,92,92,92,92,92,92,92,92,92,92
01440,97,97,97,97,97,27,27,97,97,97,97,97,97,97,97,97,97,97,97,97
02121,104,104,104,104,104,11,11,104,104,104,104,104,104,104,104,104,104,104,104,104
01970,105,105,105,105,105,34,34,105,105,105,105,105,105,105,105,105,105,105,105,105
02149,136,136,136,136,136,55,55,136,136,136,136,136,136,136,136,136,136,136,136,136
01001,137,137,137,137,137,43,43,137,137,137,137,137,137,137,137,137,137,137,137,137
02151,146,146,146,146,146,56,56,146,146,146,146,146,146,146,146,146,146,146,146,146
01453,150,150,150,150,150,48,48,150,150,150,150,150,150,150,150,150,150,150,150,150
02780,194,194,194,194,194,50,50,194,194,194,194,194,194,194,194,194,194,194,194,194
02148,212,212,212,212,212,71,71,212,212,212,212,212,212,212,212,212,212,212,212,212

INFLUENZA IMMUNIZATION STAT

array(['hispanic', 'asian', 'black', 'white', 'black or african american'],
      dtype=object)

patientsCSV

,ID,BIRTHDATE,DEATHDATE,MARITAL,RACE,GENDER,BIRTHPLACE,ADDRESS,AGE,BirthPO,HomeZip,HouseholdIncome,HouseholdMOE,Family,Married,Nonfamily,Flu
17,1131717c-e009-446d-b353-0b865cbb4194,1/20/32,0,M,black or african american,F,Springfield MA US,4315 Sawayn Port Greenfield Town MA 01302 US,85,Springfield,01302,NaN,NaN,NaN,NaN,NaN,1
22,86fc9c5b-ce25-4f37-850b-697fcd3256c1,8/23/90,0,M,black or african american,M,Freetown MA US,126 Van Creek Freetown MA 02717 US,27,Freetown,02717,81335.0,11690.0,"[94250, 14063]","[103571, 13502]","[-1, -1]",1
31,17ac2a91-9629-4c6f-bbb4-9e462a453216,3/28/90,0,M,black or african american,F,Worcester MA US,28699 Douglas Fields Apt. 371 Rowley MA 01969 US,27,Worcester,01969,85496.0,6992.0,"[115921, 26144]","[125698, 15975]","[23417, 17472]",1
45,a7c79f2a-026b-478a-ada4-060c584a8b12,8/20/17,12/9/02,M,black or african american,M,Brockton MA US,NaN,100,Brockton,0,NaN,NaN,NaN,NaN,NaN,0
70,10fd692e-fdef-4aa6-b010-8a95005b59f1,1/16/12,0,NaN,black or african american,M,North Attleborough MA US,83477 Reinger Dam Boston MA 02297 US,5,North Attleborough,02297,NaN,NaN,NaN,NaN,NaN,1
97,2ff59946-e6d0-492e-8704-a98296eedd4c,11/24/97,5/22/17,NaN,black or african american,M,Pembroke MA US,88112 Destiney Viaduct Suite 807 Sandwich MA 0...,20,Pembroke,02563,82041.0,11680.0,"[99511, 13924]","[109742, 11795]","[39792, 11456]",1
104,7a7d1ba4-2e57-4c55-81e6-1f3a37da6645,12/15/05,0,NaN,black or african american,F,Shrewsbury MA US,9187 Dion Overpass Chelmsford MA 01824 US,12,Shrewsbury,01824,109638.0,6103.0,"[130830, 6222]","[135073, 3998]","[48730, 9390]",1
144,18e9f2ff-e9a9-48f4-a129-4a0e5c80c610,2/3/05,0,NaN,black or african american,F,Haverhill MA US,6149 MacGyver Passage Apt. 355 Andover MA 0181...,12,Haverhill,01810,134627.0,6226.0,"[160794, 9239]","[180744, 7713]","[53608, 4770]",1
147,e489813c-d670-4b7c-9ee2-fb13f40caac1,3/14/13,0,NaN,black or african american,F,Freetown MA US,42895 Edmond Drives Townsend MA 01474 US,4,Freetown,01474,98221.0,19693.0,"[133594, 23116]","[138846, 14695]","[46905, 30029]",1
195,f9a49fd7-d784-4081-a537-7219edab2bfb,1/12/36,6/1/08,M,black or african american,F,Methuen Town MA US,903 Murazik Skyway Suite 446 Lowell MA 01850 US,81,Methuen Town,01850,42437.0,6212.0,"[47054, 9430]","[76450, 6430]","[24978, 8404]",1
277,6c713e1c-543e-41c9-ae98-fe753d3c50fe,6/17/31,9/26/07,M,black or african american,F,Woburn MA US,88380 Koepp Ramp Boston MA 02109 US,86,Woburn,02109,117344.0,23290.0,"[174500, 21963]","[180382, 31235]","[93125, 17493]",0
315,cda9a70b-87da-4fd1-87f9-9563be88e492,2/11/72,0,S,black or african american,F,Mattapoisett MA US,171 Schimmel Crest Lynn MA O1902 US,45,Mattapoisett,01902,39654.0,2689.0,"[46153, 4651]","[69798, 6062]","[23527, 4994]",1
347,7ae6f089-97ca-457e-ab59-f6ab0599c886,8/7/27,8/27/00,M,black or african american,F,Quincy MA US,NaN,90,Quincy,0,NaN,NaN,NaN,NaN,NaN,0
381,0fb7f3f3-8473-4ae1-a057-32b104337236,11/13/16,0,NaN,black or african american,M,Brewster MA US,311 Dexter Trace Worcester MA 01603 US,1,Brewster,01603,40967.0,4581.0,"[53231, 6613]","[61615, 11846]","[26807, 4326]",1
425,e7a34cde-5edd-49c3-94d1-8e351e3375da,10/31/51,12/31/03,M,black or african american,F,Milton MA US,9339 Hessel Oval Chicopee MA O1013 US,66,Milton,01013,40876.0,2642.0,"[48772, 3728]","[66348, 7501]","[30213, 5675]",0
444,51bdda68-3dd2-49b6-9db5-87b043f42872,3/8/49,2/27/51,NaN,black or african american,M,Pittsfield MA US,46101 Auer Path Apt. 621 Georgetown MA 01833 US,68,Pittsfield,01833,106016.0,11766.0,"[127212, 7729]","[134063, 10166]","[46625, 6965]",0
493,3a33ad14-8b02-4e89-b3c5-d8c7715cd5a5,11/1/52,0,M,black or african american,F,Dover MA US,847 Funk Branch Lynn MA 01903 US,65,Dover,01903,NaN,NaN,NaN,NaN,NaN,1
530,29f9a670-062f-4937-a639-cd54c42e98b4,1/26/62,0,M,black or african american,F,Peabody MA US,2271 Volkman Springs Holden MA 01520 US,55,Peabody,01520,99575.0,6149.0,"[116681, 5858]","[123818, 7778]","[52069, 10363]",1
617,0e708a73-1e4b-491f-9d3f-c0c3e291081c,8/18/32,5/12/11,M,black or african american,F,Yarmouth MA US,82793 Lilyan Islands Suite 821 Monson MA 01057 US,85,Yarmouth,01057,74439.0,6672.0,"[86181, 7245]","[95565, 7511]","[45815, 10843]",1
620,7fc7b9d4-141b-4fff-ae19-68889718b438,5/8/28,1/12/10,M,black or african american,F,Stoneham MA US,381 Bartell Islands Suite 549 Newton MA 02467 US,89,Stoneham,02467,108413.0,7579.0,"[148281, 18509]","[175038, 23017]","[62232, 10881]",1
797,b696c7d0-610e-4381-ba68-5836d9217d6b,6/1/78,0,M,black or african american,M,Cambridge MA US,2070 Rhianna Street Weymouth Town MA 02190 US,39,Cambridge,02190,80139.0,4598.0,"[97853, 6289]","[106813, 11820]","[49904, 8896]",1
800,deb7aad1-1596-44f7-b603-7e04d3306845,11/12/63,0,M,black or african american,F,Gloucester MA US,59281 Yazmin Pass Wellesley MA 02481 US,54,Gloucester,02481,179655.0,7450.0,"[215291, 25715]","[234559, 16469]","[93819, 20143]",1
808,b7902ae0-ce01-41ee-ae1b-b3fc88eed4be,5/7/32,0,M,black or african american,F,Easton MA US,76156 Laisha Stream Winchester MA 01890 US,85,Easton,01890,149321.0,13377.0,"[182264, 13031]","[192589, 12760]","[52431, 5463]",1
821,9fdc58d1-742d-4b60-8513-c676f647b39a,8/7/37,0,M,black or african american,F,Watertown Town MA US,649 Davis Mall Beverly MA 01915 US,80,Watertown Town,01915,73839.0,3871.0,"[98151, 5565]","[115603, 5812]","[39490, 5677]",1
842,49bb8d33-d013-46dd-b72a-de0d207f98c5,8/25/93,0,NaN,black or african american,F,Arlington MA US,19200 Audreanne Terrace Apt. 816 Canton MA 020...,24,Arlington,02021,93672.0,6439.0,"[123250, 8834]","[140500, 13018]","[53851, 14266]",1
912,5ead9280-1716-4793-85dd-d1070b94f1d3,12/5/21,10/3/94,M,black or african american,M,Boston MA US,8474 Toni Lodge Apt. 669 Walpole MA 02081 US,96,Boston,02081,95592.0,10366.0,"[117672, 10794]","[130996, 13280]","[48819, 6499]",0
992,23cc6bc8-5bfc-4c1e-902c-e7cb01a6c44c,4/1/93,0,NaN,black or african american,M,Haverhill MA US,96825 Catalina Spurs Suite 351 Westminster MA ...,24,Haverhill,01441,NaN,NaN,NaN,NaN,NaN,1
998,79cbdef8-fcef-4107-bf50-2b79bec4d438,7/28/30,7/4/77,M,black or african american,M,Cambridge MA US,6242 Ritchie Throughway Plymouth MA 02360 US,87,Cambridge,02360,80905.0,3154.0,"[97237, 3800]","[108876, 5108]","[46357, 4019]",0
1039,9ef5a5d3-e6f7-40f7-a50f-08cad9a0e782,10/23/61,0,S,black or african american,F,Quincy MA US,50611 Keebler Summit Franklin Town MA 02038 US,56,Quincy,02038,108815.0,6951.0,"[127639, 9028]","[140903, 7323]","[43889, 12074]",1
1092,fc94c4b3-a114-4c28-a8e8-0f890b674b22,9/8/51,0,M,black or african american,M,Brookline MA US,2891 Weber Centers North Andover MA 01845 US,66,Brookline,01845,102008.0,5376.0,"[129578, 6371]","[141446, 9286]","[42148, 10240]",1
1142,e281fb98-d32b-46d4-8568-bf1c21add34a,11/2/36,6/21/10,M,black or african american,F,Lynn MA US,449 Emmerich Roads Apt. 540 Westwood MA 02090 US,81,Lynn,02090,140355.0,16254.0,"[161113, 11000]","[175385, 16138]","[47230, 5333]",1
1177,d4841577-f9ac-4cc8-ad03-f80131552fc9,4/10/25,0,M,black or african american,F,Shirley MA US,72820 Rosenbaum Underpass Boston MA O2111 US,92,Shirley,02111,39670.0,13258.0,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1
1256,bcc6577e-d51a-4071-9f22-ccb45f6db2f3,12/18/36,0,S,black or african american,M,Plymouth MA US,808 Kylie Points Pittsfield MA 01203 US,81,Plymouth,01203,NaN,NaN,NaN,NaN,NaN,1
1312,3247fb56-d8af-450e-a370-926636c1daa2,4/5/69,0,M,black or african american,F,Becket MA US,8039 Green Shoal Scituate MA 02066 US,48,Becket,02066,110492.0,11277.0,"[135194, 9651]","[152557, 14978]","[34919, 4746]",1
1393,6d980fe6-d187-4e36-b889-4f5f508c8f8c,10/1/69,0,S,black or african american,M,Peabody MA US,760 Sonny Mills Apt. 491 Wellesley MA 02481 US,48,Peabody,02481,179655.0,7450.0,"[215291, 25715]","[234559, 16469]","[93819, 20143]",1
1395,dd65ebe4-36fa-4c1b-85d9-1e54bee79917,8/29/64,0,M,black or african american,M,Boston MA US,715 Konopelski Plains Apt. 350 Plymouth MA 023...,53,Boston,02362,NaN,NaN,NaN,NaN,NaN,1
1406,e757c343-8bf6-4ead-986e-64d40a270032,6/11/74,0,S,black or african american,F,Adams MA US,94074 Greenholt View Apt. 914 Blackstone MA 01...,43,Adams,01504,75544.0,4626.0,"[93500, 6294]","[107258, 9058]","[33903, 6954]",1
1413,fe481b96-8643-457f-bee3-2679c93e92b0,11/21/21,12/13/04,S,black or african american,M,Newburyport MA US,5221 Schneider Causeway Suite 675 Boston MA 02...,96,Newburyport,02298,NaN,NaN,NaN,NaN,NaN,0
1437,69414e22-d080-4468-b13f-8f3531312ae9,4/10/06,0,NaN,black or african american,F,Boston MA US,346 Breana Prairie Hubbardston MA 01452 US,11,Boston,01452,84803.0,7281.0,"[94512, 5748]","[96676, 10600]","[41471, 19862]",1

In [315]:
emergency[emergency['YearDeath']==1]

,ID,DATE,PATIENT,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION,DeathDate,Death,DeathDifference,...,Zipcode,Age,YearDeath,Black,Hispanic,Asian,White,LowIncome,Homeless,BMI
53,2d2c4fc1-574c-4fbe-9fbc-bc50779d96f7,2011-04-07,31410948-38be-4990-be5e-a47ab44f33a1,185349003,Outpatient Encounter,NaN,NaN,2012-03-25,1,353 days,...,01864,96,1,0,0,0,1,0,0,30.67
54,e18875df-6b04-4bf9-abe1-4fe7d092cd94,2012-03-25,31410948-38be-4990-be5e-a47ab44f33a1,308646001,Death Certification,NaN,NaN,2012-03-25,1,0 days,...,01864,96,1,0,0,0,1,0,0,30.67
106,c3ecf43e-51b9-4783-b303-4cf2a2307fc7,2016-02-05,2c884d0f-62a1-4371-becc-36a98cdc4f52,185349003,Outpatient Encounter,NaN,NaN,2016-08-22,1,199 days,...,01604,96,1,0,1,0,0,1,0,22.79
107,f088bebb-a51b-4928-a39d-47746accb827,2016-08-22,2c884d0f-62a1-4371-becc-36a98cdc4f52,308646001,Death Certification,NaN,NaN,2016-08-22,1,0 days,...,01604,96,1,0,1,0,0,1,0,22.79
257,e63a3fa9-9e21-4d20-8c1f-f79403672016,2010-10-14,6166101c-e02f-4230-b6c1-533865470674,185345009,Encounter for symptom,10509002.0,Acute bronchitis (disorder),2011-10-14,1,365 days,...,01104,96,1,0,0,0,1,1,0,26.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19211,b5cb9d8a-c10f-4759-88f2-1238218d1b53,2014-05-07,d08b84b0-560c-487f-a17b-e9c8fb34babf,185349003,Outpatient Encounter,NaN,NaN,2014-07-10,1,64 days,...,02493,57,1,0,1,0,0,0,0,34.64
20343,bd341b34-b178-4a6c-bbc7-564242d11512,2012-11-03,2bbaedc8-d765-4950-bfc2-32b16713934c,185349003,Outpatient Encounter,NaN,NaN,2013-01-25,1,83 days,...,01128,91,1,0,1,0,0,0,0,23.84
20344,9c0cd96f-9048-4fd9-af65-4a8b3748beac,2012-11-21,2bbaedc8-d765-4950-bfc2-32b16713934c,50849002,Emergency room admission,65966004.0,Fracture of forearm,2013-01-25,1,65 days,...,01128,91,1,0,1,0,0,0,0,23.84
20345,736e13f7-4dc5-4e49-8e0e-2e28115fca12,2013-01-05,2bbaedc8-d765-4950-bfc2-32b16713934c,185349003,Encounter for 'check-up',65966004.0,Fracture of forearm,2013-01-25,1,20 days,...,01128,91,1,0,1,0,0,0,0,23.84
20346,82172a31-7c9e-43ad-8019-2fc9d16f5ad9,2013-01-25,2bbaedc8-d765-4950-bfc2-32b16713934c,308646001,Death Certification,NaN,NaN,2013-01-25,1,0 days,...,01128,91,1,0,1,0,0,0,0,23.84

In [304]:
f = observationsCSV.groupby('DESCRIPTION').count()
f[f['DATE']>100]
p = observationsCSV[observationsCSV['DESCRIPTION']=='Housing status']
emergency['Homeless'] = emergency['PATIENT'].map(lambda x: 1 if x in p['PATIENT'].unique() else 0)
emergency[emergency['Homeless']==1]

,ID,DATE,PATIENT,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION,DeathDate,Death,DeathDifference,...,HouseholdMOE,Zipcode,Age,YearDeath,Black,Hispanic,Asian,White,LowIncome,Homeless
HouseholdIncome,,,,,,,,,,,,,,,,,,,,,
-1.0,110,110,110,110,110,50,50,110,110,110,...,110,110,110,110,110,110,110,110,110,110
18843.0,30,30,30,30,30,9,9,30,30,30,...,30,30,30,30,30,30,30,30,30,30
22956.0,14,14,14,14,14,5,5,14,14,14,...,14,14,14,14,14,14,14,14,14,14
26313.0,104,104,104,104,104,11,11,104,104,104,...,104,104,104,104,104,104,104,104,104,104
28351.0,27,27,27,27,27,10,10,27,27,27,...,27,27,27,27,27,27,27,27,27,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157005.0,46,46,46,46,46,10,10,46,46,46,...,46,46,46,46,46,46,46,46,46,46
158250.0,9,9,9,9,9,7,7,9,9,9,...,9,9,9,9,9,9,9,9,9,9
164013.0,67,67,67,67,67,5,5,67,67,67,...,67,67,67,67,67,67,67,67,67,67
179655.0,55,55,55,55,55,17,17,55,55,55,...,55,55,55,55,55,55,55,55,55,55
191744.0,44,44,44,44,44,18,18,44,44,44,...,44,44,44,44,44,44,44,44,44,44

In [300]:

emergency

,ID,DATE,PATIENT,CODE,DESCRIPTION,REASONCODE,REASONDESCRIPTION,DeathDate,Death,DeathDifference,...,HouseholdIncome,HouseholdMOE,Zipcode,Age,YearDeath,Black,Hispanic,Asian,White,LowIncome
0,5114a5b4-64b8-47b2-82a6-0ce24aae0943,2008-03-11,71949668-1c2e-43ae-ab0a-64654608defb,185349003,Outpatient Encounter,NaN,NaN,1970-01-01,0,-13949 days,...,151023.0,10723.0,01740,29,0,0,1,0,0,0
1,4d451e22-a354-40c9-8b33-b6126158666d,2009-01-11,71949668-1c2e-43ae-ab0a-64654608defb,185345009,Encounter for symptom,10509002.0,Acute bronchitis (disorder),1970-01-01,0,-14255 days,...,151023.0,10723.0,01740,29,0,0,1,0,0,0
2,bdb926b8-5b6d-4366-bbe9-76fe3f3fbc4f,2009-04-07,71949668-1c2e-43ae-ab0a-64654608defb,185349003,Outpatient Encounter,NaN,NaN,1970-01-01,0,-14341 days,...,151023.0,10723.0,01740,29,0,0,1,0,0,0
3,f45c623f-a5e7-47a0-8cce-cfe19d16c47a,2010-06-04,71949668-1c2e-43ae-ab0a-64654608defb,698314001,Consultation for treatment,NaN,NaN,1970-01-01,0,-14764 days,...,151023.0,10723.0,01740,29,0,0,1,0,0,0
4,bed7ecff-b41c-422b-beac-ea00c8b02837,2010-10-16,71949668-1c2e-43ae-ab0a-64654608defb,185345009,Encounter for symptom,38822007.0,Cystitis,1970-01-01,0,-14898 days,...,151023.0,10723.0,01740,29,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20517,c8fa6e8f-5557-4316-90cc-f27d1d76de7a,2009-01-27,8b9de29c-34c9-405f-840c-71b5210cf9e1,185349003,Outpatient Encounter,NaN,NaN,1970-01-01,0,-14271 days,...,34810.0,3354.0,02723,50,0,0,0,0,1,1
20518,be02ee7e-41b5-4d89-b693-97ae97e9a794,2011-04-03,8b9de29c-34c9-405f-840c-71b5210cf9e1,185349003,Outpatient Encounter,NaN,NaN,1970-01-01,0,-15067 days,...,34810.0,3354.0,02723,50,0,0,0,0,1,1
20519,e277ecc6-5cbf-4b8f-958c-cdbd171269c3,2012-11-30,8b9de29c-34c9-405f-840c-71b5210cf9e1,185345009,Encounter for symptom,10509002.0,Acute bronchitis (disorder),1970-01-01,0,-15674 days,...,34810.0,3354.0,02723,50,0,0,0,0,1,1
20520,efac59ce-e64f-4a06-baf4-6be9c7346f26,2013-03-16,8b9de29c-34c9-405f-840c-71b5210cf9e1,185349003,Outpatient Encounter,NaN,NaN,1970-01-01,0,-15780 days,...,34810.0,3354.0,02723,50,0,0,0,0,1,1
20521,33518a35-4a91-4347-b78a-f83a060abe42,2015-04-14,8b9de29c-34c9-405f-840c-71b5210cf9e1,185349003,Outpatient Encounter,NaN,NaN,1970-01-01,0,-16539 days,...,34810.0,3354.0,02723,50,0,0,0,0,1,1

In [ ]:
RACE OF ZIPCODES

In [202]:
lowIncome = zaiMerge[zaiMerge['HouseholdIncome'] < 60000]
lowIncome['Patient'] = lowIncome['ZCTA'].map(lambda x:1 if x in emergency['Zipcode'].unique() else 0)
lowIncomeP = lowIncome[lowIncome['Patient']==1]
lowIncomeP = lowIncomeP[lowIncomeP['YearDeath']==1]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyError: 'YearDeath'

In [174]:
lowIncome

,ZCTA,HouseholdIncome,HouseholdMOE,Family,Married,Nonfamily,Patient
0,01001,56714,6167,"[82512, 8931]","[87939, 8234]","[33768, 7947]",1
1,01002,48923,4421,"[94489, 9366]","[109458, 8012]","[27251, 5217]",1
2,01002,48923,4421,"[94489, 9366]","[109458, 8012]","[27251, 5217]",1
3,01002,48923,4421,"[94489, 9366]","[109458, 8012]","[27251, 5217]",1
4,01003,-1,-1,"[-1, -1]","[-1, -1]","[-1, -1]",1
...,...,...,...,...,...,...,...
661,02740,36105,2158,"[48481, 4197]","[66632, 4275]","[21603, 2464]",0
663,02744,32221,3823,"[45186, 2887]","[55448, 7930]","[19916, 3936]",1
664,02745,52777,2533,"[64288, 5073]","[80062, 3628]","[32380, 5407]",1
665,02746,28351,2753,"[28927, 3418]","[46789, 6202]","[18482, 4834]",1
679,02780,51820,2100,"[67574, 5749]","[84156, 2654]","[27662, 4753]",1

In [173]:
lowIncomeP

,ZCTA,HouseholdIncome,HouseholdMOE,Family,Married,Nonfamily,Patient
0,01001,56714,6167,"[82512, 8931]","[87939, 8234]","[33768, 7947]",1
1,01002,48923,4421,"[94489, 9366]","[109458, 8012]","[27251, 5217]",1
2,01002,48923,4421,"[94489, 9366]","[109458, 8012]","[27251, 5217]",1
3,01002,48923,4421,"[94489, 9366]","[109458, 8012]","[27251, 5217]",1
4,01003,-1,-1,"[-1, -1]","[-1, -1]","[-1, -1]",1
...,...,...,...,...,...,...,...
656,02726,69930,5834,"[82429, 4907]","[89657, 8455]","[38340, 6255]",1
663,02744,32221,3823,"[45186, 2887]","[55448, 7930]","[19916, 3936]",1
664,02745,52777,2533,"[64288, 5073]","[80062, 3628]","[32380, 5407]",1
665,02746,28351,2753,"[28927, 3418]","[46789, 6202]","[18482, 4834]",1
679,02780,51820,2100,"[67574, 5749]","[84156, 2654]","[27662, 4753]",1

In [278]:
lowIncomeP['Hispanic'] =None
lowIncomeP['White'] =None
lowIncomeP['Asian'] =None
lowIncomeP['Black'] =None
lowIncomeP['Death'] = None
for index,row in lowIncomeP.iterrows():
    zipc = emergency[emergency['Zipcode'] == row['ZCTA']]
    lowIncomeP.loc[index,'Hispanic'] = zipc['Hispanic'].sum()
    lowIncomeP.loc[index,'Asian'] = zipc['Asian'].sum()
    lowIncomeP.loc[index,'White'] = zipc['White'].sum()
    lowIncomeP.loc[index,'Black'] = zipc['Black'].sum()
    lowIncomeP.loc[index,'Death'] = zipc['YearDeath'].sum()
lowIncomeP[lowIncomeP['Death']>3]

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,ZCTA,HouseholdIncome,HouseholdMOE,Family,Married,Nonfamily,Patient,Hispanic,White,Asian,Black,Death
55,01082,52178,5465,"[71117, 7203]","[85000, 14006]","[30231, 6837]",1,70,0,0,0,5
416,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
417,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
418,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
419,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
420,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
421,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
422,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
423,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
424,02111,39670,13258,"[47321, 20869]","[49063, 28130]","[38545, 16109]",1,22,0,0,28,9
438,02124,50044,3476,"[55450, 5967]","[95484, 6932]","[29824, 7598]",1,37,0,0,0,4
465,02151,51468,2008,"[61557, 5678]","[75404, 5734]","[35461, 3399]",1,146,0,0,0,19
482,02189,51653,7049,"[68438, 10187]","[101075, 13334]","[41723, 4564]",1,49,0,0,0,17
490,02301,44873,2290,"[52862, 4019]","[79512, 2535]","[26234, 4491]",1,92,0,0,0,17
491,02301,44873,2290,"[52862, 4019]","[79512, 2535]","[26234, 4491]",1,92,0,0,0,17
492,02301,44873,2290,"[52862, 4019]","[79512, 2535]","[26234, 4491]",1,92,0,0,0,17
679,02780,51820,2100,"[67574, 5749]","[84156, 2654]","[27662, 4753]",1,176,0,18,0,5

emergency

In [219]:
h['HomeZip'].unique()

array(['02118', '02111', '02215', '02203', '02127', '02109', '02293',
       '02210', '02283', '02204', '02129', '02136', '02196', '02119',
       '02130', '02113', '02126', '02298', '02131', '02124', '02163',
       '02297', '02122', '02284', '02114', '02211', '02206', '02137'],
      dtype=object)

In [267]:
h[h['HomeZip']=='02118']

,ID,BIRTHDATE,DEATHDATE,MARITAL,RACE,GENDER,BIRTHPLACE,ADDRESS,AGE,BirthPO,HomeZip,HouseholdIncome,HouseholdMOE,Family,Married,Nonfamily,Flu
11,16077486-5747-4abe-8321-ba290fb7197c,12/28/53,8/21/98,S,hispanic,F,Seekonk MA US,77237 Bernadette Turnpike Boston MA 02118 US,64,Seekonk,02118,59589,8491,"[80707, 24230]","[175833, 26762]","[53020, 6646]",0
43,cc1924a0-f617-447a-8788-a6dff23c59c8,12/17/29,8/2/94,M,hispanic,M,Auburn MA US,129 Ralph Extension Suite 128 Boston MA 02118 US,88,Auburn,02118,59589,8491,"[80707, 24230]","[175833, 26762]","[53020, 6646]",0
150,2e1644ee-f7ca-4700-9b8a-ceb5bfb3efd2,9/2/27,11/30/12,M,hispanic,M,North Andover MA US,907 Maribel Stravenue Boston MA 02118 US,90,North Andover,02118,59589,8491,"[80707, 24230]","[175833, 26762]","[53020, 6646]",1